@import "../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/css3/box-shadow";
@import "../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/css3/border-radius";

.file-uploader {
    position: relative;
    text-align: center;

    input[type="file"], input[type="checkbox"] {
        display: none;
    }

    .display-with-file {
        display: none;
    }

    .drag-target-overlay {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.95);
        color: #a8a8a8;
        border: 3px dashed;
        font-weight: bold;
        text-align: center;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; /* Adjusts for spacing */
        }

        > div {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &.drag-active {
        .drag-target-overlay {
            display: block;
        }
    }

    label {
        display: block;
        min-height: 100px;
        max-height: 150px;
        overflow: hidden;
    }

    .close {
        display: none;
        color: rgb(139, 19, 19);
        position: absolute;
        background: #f0f0f0;
        height: 30px;
        width: 30px;
        opacity: 1;
        border: 5px solid #f5f5f5;
        top: -12px;
        right: -12px;

        @include single-box-shadow(rgba(0, 0, 0, 0.3), 1px, 1px, 0);
        @include border-radius(25px);

        &:hover {
            border-color: #e9e9e9;
            background: #e9e9e9;
        }
    }

    .file-display {
        cursor: pointer;
        z-index: 9;
        font-size: 72px;
        display: none;

        span {
            display: block;
            font-size: 14px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    [data-file-name] {
        display: none;
    }

    .image-area {
        display: none;
        z-index: 8;

        img {
            width: 100%;
            height: auto;
        }
    }

    .upload-link {
        cursor: pointer;
        display: block;
        z-index: 9;
        font-size: 72px;
    }

    .progress-area {
        display: none;

        .progress {
            margin: 0;
        }
    }

    &.has-image {
        .image-area {
            display: inherit;
        }

        .upload-link {
            display: none;
        }

        .close {
            display: inherit;
        }

        .display-with-file {
            display: inherit;
        }

        [data-file-name] {
            display: inherit;
        }
    }

    &.with-progress {
        .image-area,
        .upload-link,
        .close {
            display: none;
        }

        .progress-area {
            display: inherit;
        }
    }

    &.is-file.has-image {
        .image-area {
            display: none;
        }
        .file-display {
            display: block;
        }
    }

    &.multi-uploader {
        display: none;

        &.has-image, 
        &.with-progress {
            display: inherit;
        }
    }
}
